/* -RECOMENDADOS Y NOVEDADES- */

#txt{
    color: var(--color-1);
  }
  
  #cardslibros .card .card-body {
    text-align: justify;
    min-height: 232px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #cardslibros .card .card-body h5 {
    text-align: center;
  }
  
  #cardslibros .card img {
   
    overflow: hidden;
    object-fit: fill;
  }
  
  #cardslibros .card .card-body:hover{
    color: var(--color-2);
  }