/* -FOOTER- */

footer #firma {
    background: black;
  }
  
footer #firma h6::before, #firma h6::after{
    content: ' • '
  }
  
footer #nav a.nav-link {
    color: white;
    transition: .2s;
  }

footer #nav a.nav-link:hover {
    color: var(--color-4);
    transform: translateY(-5px);
  }
   
#footinfo{
    background-color: var(--color-1h);  
  }
  
#linksfo{
    color: var(--color-3h);
    text-shadow: var(--text-shadow)
  }

#linksfo:hover{
    color: var(--color-4);
    text-shadow: var(--text-shadow)
  }